<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81309441837-qgvj11alhtqm5b393l03teql5g5iq1ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81309441837-qgvj11alhtqm5b393l03teql5g5iq1ba</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>81309441837-p8f5iskkqr429542h326t1kh6po36kg8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Rws2xD3xNrFF6faC9rZovDvF1FzcV1k</string>
	<key>GCM_SENDER_ID</key>
	<string>81309441837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asknure</string>
	<key>PROJECT_ID</key>
	<string>ask-nure</string>
	<key>STORAGE_BUCKET</key>
	<string>ask-nure.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81309441837:ios:eea145e655741c7dff7da4</string>
</dict>
</plist>